html { font-family: sans-serif; color: #030; }

a { color: #35f; cursor: pointer; }

body { margin: 0; min-width: 600px;}

.error {
    color: #822;
    background: #fdd;
    border: 1px solid #a55;
    padding: 8px 15px;
    margin: 10px 0;
}

nav ul {
    text-align: center;
    list-style: none;
    font-size: 0em;
    margin: 0;
    background: #eee;
}

nav ul li {
    display: inline-block;
    padding: 0;
    position: relative;
}

nav a {
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    margin: 0;
    color: black;
}

nav li.actif {
    background: #8af;
}

nav input {
    border: none;
    max-width: 0;
    opacity: 0;
    transition-property: max-width, opacity, margin;
    transition: .4s ease-out;
    margin: 0;
}

nav li.actif input {
    max-width: 150px;
    opacity: 1;
    margin: 0 10px;
}

body { position: relative; }

table.calendrier {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 0;
}



table tr { margin: 0; padding: 0; }
table td { margin: 0; padding: 0; border: 1px solid #999; }
table td.autremois { opacity: 0.4; }

td div.numjour { line-height: 0px; position: relative; top: 1em; text-indent: 0.5em; font-size: 0.8em; color: rgba(0,0,0,0.8); }

svg { display: block; height: 90px; width:100%; }

polygon { fill: rgba(0,0,0,0); }
.weekend { border-color: #3ac; }
.ferie { border-color: #d96; }
.conge { fill: #8e6; }
.weekend .conge { fill: #9cf; }
.ferie .conge { fill: #fd8; }

ul.autocomplete {
    position: absolute;
    width: 100%;
    padding: 0;
    z-index: 100;
    background: white;
    box-shadow: inset  0 0 0 1px #8af;
}

.autocomplete li.utilisateur{
    padding: 0;
    display: block;
    margin: 0 1px 1px;
    padding: 6px 15px;
    text-align: left;
    cursor: pointer;
}

ul:hover > .utilisateur.actif{ background: white; }

.utilisateur.actif,
.utilisateur:hover,
ul:hover > .utilisateur.actif:hover { background: #def; }

.autocomplete .nom {
    font-size: 14px;
}

.autocomplete .login {
    font-size: 11px;
}
