html { font-family: sans-serif; color: #030; }

a { color: #35f; }

body { margin: 0; min-width: 600px;}

.error {
    color: #822;
    background: #fdd;
    border: 1px solid #a55;
    padding: 8px 15px;
    margin: 10px 0;
}

nav ul {
    text-align: center;
    list-style: none;
    font-size: 0em;
    margin: 0;
    background: #eee;
}

nav ul li {
    display: inline;
    padding: 0;
}

nav a {
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    margin: 0;
    color: black;
}

nav a.actif {
    background: #8af;
}

body { position: relative; }

table.calendrier {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 0;
}



table tr { margin: 0; padding: 0; }
table td { margin: 0; padding: 0; border: 1px solid #999; }
table td.autremois { opacity: 0.4; }

td div.numjour { line-height: 0px; position: relative; top: 1em; text-indent: 0.5em; font-size: 0.8em; color: rgba(0,0,0,0.8); }

svg { display: block; height: 90px; width:100%; }

polygon { fill: rgba(0,0,0,0); }
.weekend { border-color: #3ac; }
.ferie { border-color: #d96; }
.conge { fill: #8e6; }
.weekend .conge { fill: #9cf; }
.ferie .conge { fill: #fd8; }
