html { font-family: sans-serif; color: #222; }

a { color: #35f; cursor: pointer; }

body { margin: 0; min-width: 600px;}

.error {
    color: #822;
    background: #fdd;
    border: 1px solid #a55;
    padding: 8px 15px;
    margin: 10px 0;
}

nav ul {
    text-align: center;
    list-style: none;
    font-size: 0em;
    margin: 0;
    background: #eee;
}

nav ul li {
    display: inline-block;
    padding: 0;
    position: relative;
}

nav a {
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    margin: 0;
    color: black;
}

nav li.actif {
    background: #8af;
}

nav input {
    border: none;
    max-width: 0;
    opacity: 0;
    transition-property: max-width, opacity, margin;
    transition: .3s ease-out;
    margin: 0;
}

nav li.actif input {
    max-width: 150px;
    opacity: 1;
    margin-right: 10px;
}

input.spinner {
    background: url("spinner.gif") 95% center no-repeat, white;
}

body { position: relative; }

div.barre-outils {
    margin: 20px auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.bouton {
    padding: 0 10px;
    text-align: center;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: #ddd;
    box-shadow: 0 0 0 1px #bbb, inset 0 1px 0 0 rgba(255,255,255,0.6);
    font-size: 15px;
    cursor: default;
    font-weight: bold;
    color: #555;
    border-radius: 2px;
    margin: 0 10px;
    float: left;
}


@font-face {
    font-family: Entypo;
    src: url("entypo/entypo.eot");
    src: url("entypo/entypo.eot#ie") format("embedded-opentype"),
         url("entypo/entypo.woff") format("woff"),
         url("entypo/entypo.ttf") format("truetype"),
         url("entypo/entypo.svg") format("svg");
}

.selecteur-mois,
.mois-precedent,
.mois-suivant {
    float: right;
}

.bouton:hover {
    background: #cfcfcf;
}

.bouton:active,
.bouton.actif:active { /* :o */
    background: #eee;
}

.bouton.actif {
    background: white;
}

.mois-precedent {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    margin-right: 0;
}
.mois-suivant {
    margin-left: 0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
.container {
    opacity: 0;
    transition: opacity .1s ease-out;
    position: absolute;;
    padding: 0 5%;
    margin: 0 auto;
    max-width: 1000px;
}


table.calendrier,
table.jours {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

body.charge table.calendrier,
body.charge table.jours {
    cursor: wait;
}



.calendrier tr { margin: 0; padding: 0; border: 1px solid #ccc;}
.calendrier col { margin: 0; padding: 0; border: 1px solid #ccc;}
.calendrier td { margin: 0; padding: 0; border: 1px solid #999; background: #fafafa; }
.calendrier td.autremois { background: white; border: none; }
.calendrier .weekend { border-color: #3ac; }
.calendrier .ferie { border-color: #d96; }

td div.numjour {
    line-height: 0px;
    position: relative;
    top: 1em;
    text-indent: 0.5em;
    font-size: 0.8em;
    color: rgba(0,0,0,0.8);
    z-index: 10;
}

svg { display: block; height: 90px; width:100%; }

.autremois polygon:not(.selectionne) { opacity: 0.3; }

polygon { fill: rgba(0,0,0,0); }
.conge { fill: #8e6; }
.weekend .conge { fill: #9cf; }
.ferie .conge { fill: #fd8; }
polygon.selectionne { fill: #cef; }
.ferie polygon.conge.selectionne, .weekend polygon.conge.selectionne { opacity: 0.4; }

ul.autocomplete {
    position: absolute;
    width: 100%;
    padding: 0;
    z-index: 100;
    background: white;
    box-shadow: inset  0 0 0 1px #8af;
}

.autocomplete li.utilisateur{
    padding: 0;
    display: block;
    margin: 0 1px 1px;
    padding: 6px 15px;
    text-align: left;
    cursor: pointer;
}

ul:hover > .utilisateur.actif{ background: white; }

.utilisateur.actif,
.utilisateur:hover,
ul:hover > .utilisateur.actif:hover { background: #def; }

.autocomplete .nom {
    font-size: 14px;
}

.autocomplete .login {
    font-size: 11px;
}

.init input {
    border: 1px solid #444;
}

.init > table {
    border-collapse: collapse;
    margin: 30px auto;
}

.init td { padding: 5px 15px; }

.init td:first-child { text-align: right; }

.init col:first-child { border-right: 1px solid #222; }

.suppr {
    color: #933;
}

.ajout-periode > span {
    color: #393;
    font-weight: bold;
}

.avertissement {
    color: #b22;
    position: relative;
    display: none;
    min-width: 300px;
    font-weight: bold;
}

.avertissement.actif {
    display: inline-block;
}

.avertissement span {
    position: absolute;
    display: none;
    background: white;
    top: -0.5em;
    left: 1em;
    padding: 5px;
}

.avertissement:hover span {
    display: inline;
}

.init ul.conges li{
    padding: 3px 0;
}
.init ul.conges li.incorrect{
    background: #fcc;
}

@keyframes clignote {
    0%  { opacity: 1; }
    16% { opacity: 0; }
    33% { opacity: 1; }
    50% { opacity: 0; }
    66% { opacity: 1; }
    83% { opacity: 0; }
    100%{ opacity: 1; }
}

.init ul.conges li.clignote{
    animation: clignote 0.5s;
}

.init ul.conges input{
    width: 60px;
}

.selecteur-mois {
    min-width: 150px;
    text-align: right;
    position: relative;
    z-index: 48309403280;
}
.menu {
    background: #eee;
    position: absolute;
    width:100%;
    top:0;
    left:0;
    margin:0;
    padding:0;
    box-shadow: 0 0 1px black;
    border-radius: 2px;
    display: block;
    z-index: 48309403280;
}

.menu li {
    list-style: none;
    margin: 0;
    padding: 0 5px;
}
.menu li:hover {
    color: white;
    background: #3ac;
}
